@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

body::-webkit-scrollbar {
  display: none;
}
body {
  overflow: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.v-picker-title,
.v-picker__header {
  display: none;
}

.v-date-picker-month__day > .v-btn {
  border-radius: 5px;
}

.v-date-picker-month__day--week-end > .v-date-picker-month__day--range {
  border-end-end-radius: 5px;
  border-start-end-radius: 5px;
}

.v-date-picker-month__day--week-start > .v-date-picker-month__day--range {
  border-end-start-radius: 5px;
  border-start-start-radius: 5px;
}
